/* affichage accueil */
.accueil{
  width : 100%;
  height : 100vh;
}

.lien_a{
  position : absolute;
  display: flex;
  flex-wrap : wrap;
  flex-direction : row;
  justify-content : space-evenly;
  width : 100%;
  top : 75%;
}

.lien_a a{
  border : 5px solid white;
  border-radius : 5px;
  padding : 10px;
  text-decoration: none;
  color : white;
}

.lien_a a:hover{
  border-color : lightgrey;
  color : lightgrey;
  transition : 0.3s;
}
